/* Foont */
.dosis-font {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
}
.h-100{
    height:100px;
}
.image-responsive{
    width: 100%;
}
.img-res{
    max-width:100%;
    max-height: 100%;
}
.color{
    color: #b19c7b;
}
.bg-black{
    background-color: black;
}
.shadow-hover{
    transition: all 1s linear; 
}
.shadow-hover:hover{
    box-shadow: #b19c7b 0px 10px 50px;
    transform: translateY(-10px);
}
.sticky {
    position: sticky;
    top:-1px;
    z-index: 1;
}
/* more about section */
.more-about{
    padding: 80px 10px;
    margin: 50px 0;
    background-image: url(../images/worldwide-global-map-outline-black-background_1017-46153.jpg);
    background-size: contain;
    background-repeat: repeat repeat;
    background-color: black;
    background-position: 0% 0%;
    background-attachment: fixed;
    background-position: center;
    
}
.more-about-container{
    max-width: 400px;
    border:  1px solid #b19c7b;
    padding: 40px;
    border-radius: 50%;
}
/* Projects  */
.scale-increase{
    transform: scale(1.1);
}
@media (max-width:768px) {
    .scale-increase{
        transform: scale(1.2);
    }   
}

.bg-1e1e1e{
    background: #1e1e1e;
    border: 1px solid gray;
    padding: 10px;
}
.w-80{
    width: 80%;
}

/* infinite scroll */
.logo-wrapper{
    height: 130px;
    width: 90%;
    /* background: red; */
    margin: auto;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
      );
}

@keyframes scroll-left {
    to {
        left: -200px;
    }
}

[class |= "logo-item"]{
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scroll-left;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.logo-item-1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.logo-item-2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1 );
}
.logo-item-3{
    animation-delay: calc(30s / 8 * (8 - 3 ) * -1 );
}
.logo-item-4{
    animation-delay: calc(30s / 8 * (8 - 4 ) * -1 );
}
.logo-item-5{
    animation-delay: calc(30s / 8 * (8 - 5 ) * -1 );
}
.logo-item-6{
    animation-delay: calc(30s / 8 * (8 - 6 ) * -1 );
}
.logo-item-7{
    animation-delay: calc(30s / 8 * (8 - 7 ) * -1 );
}
.logo-item-8{
    animation-delay: calc(30s / 8 * (8 - 8 ) * -1 );
} 
/* contact section  */
.contanct-hr{
    height: 2px;
    width: 160px;
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
}
/* social media */
.social-media-container{
    height: 100px;
    width: 100%;
}
.social-media-item i{
    font-size: 30px;
    padding:10px;
    color: #a2a3a6;
}
/* footer */
.footer-hr{
    width: 80%;
    height: 2px;
    background-color: #a2a3a6;
    margin: auto;
    margin-bottom: 20px;
}
.copyrights > :first-child{
    font-size: 13px;
}
/* Pre codes */
.text-justify{
    text-align: justify;
}
.max-width-75{
    max-width: 75%;
}
.h-200px{
    height: 200px;
}